<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ltcms</display-name>

	<context-param>
		<!-- 请记住这里的名称不能够乱写，必须一模一样，区分大小写 java类去启动项目 contextClass -->
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>

	<!-- 放入WebapplicationContext ServletContext(application) web层调用service -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 这个配置是指,hiberante在进行级联查询的时候，可以会牵涉session关闭而无法获取session对象 session会话的延续，消耗性能 -->
	<filter> 
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 

	<!-- 编码拦截控制 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- 权限拦截 -->
	<filter>
		<filter-name>permissionFilter</filter-name>
		<filter-class>com.lt.core.filter.PermissionFilter</filter-class>
		
		<init-param>
			<param-name>devmode</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>permissionFilter</filter-name>
		<url-pattern>/index</url-pattern>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	

	<!-- struts2的核心拦截器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
<!-- 	<jsp-config> -->
<!-- 		<taglib> -->
<!-- 			<taglib-uri>http://www.baidu.com/jstl/lt</taglib-uri> -->
<!-- 			<taglib-location>/WEB-INF/tld/lt.tld</taglib-location> -->
<!-- 		</taglib> -->
<!-- 	</jsp-config> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>